TIKTOK_COLLECTION_URL=https://www.tiktok.com/@user/collection/name-ID
TIKTOK_COOKIES_FILE=cookies.txt
TIKTOK_PROXY=

VK_API_VERSION=5.199
VK_TOKEN=
VK_CLIP_VISIBILITY=all

APP_DOWNLOAD_DIR=data/downloads
APP_CHECK_INTERVAL=1800
APP_DB_PATH=data/database.db
APP_LOG_DIR=logs/debug.log # real filename debug_2026-06-27_14-30-00.log
APP_ROTATE_VIDEO=False
APP_CONCURRENT_DOWNLOADS=3
APP_CONCURRENT_UPLOADS=3
